@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,500;1,600;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    box-shadow: 0 4px 42px rgba(55, 55, 55, 0.1);
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #6e32aa;
    font-weight: 500;
}

nav .logo {
    background-color: #6e32aa;
    color: #fff;
    border-radius: 50%;
    padding: 13px 15px;
    font-weight: 300;
}